*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    background-color: #10456d;
}
.titulo
{
    color: #dad9d2;
    background-color: #4677b4;
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;}
.paragrafo-1
{padding-top: 20px;
    padding-bottom: 20px;
    color: #dad9d2;
    background-color: h#10456d;
    font-size: 25px;
    text-align: center;
}
.subtitulo-1
{
    color: #dad9d2;
    padding-bottom: 20px;
}
.paragrafo-2{
    color: #dad9d2;
    padding-bottom: 20px;
}
.img{
    color: #c5c571;
}